fieldset {
    border: none;
}

legend {
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    font: var(--heading-sm);
    color: var(--text-heading);

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

label {
    font: var(--body-xs-regular);
    color: var(--text-body);
    margin-block: 0.75rem;
}

input {
    width: 100%;
    height: 3rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.75rem;

    font: var(--body-md-regular);
    padding-left: 1rem;

    &::placeholder {
        color: var(--input-placeholder);
    }

    /* &:rover,
    &focus {} */


}

.radio-group {
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.75rem;

    font: var(--body-md-regular);

}







/* colocar dentro dos seletores corretos. */
input[type="date"] {
    font: var(--body-md-regular);
    color: var(--input-placeholder);
}

input[type="text"] {
    font: var(--body-md-regular);
    color: var(--input-placeholder);
}
