* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    /* Brand */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* Accent Colors */
    --accent-purple: #B259FF;
    --accent-fuschia: #FF59F9;
    --accent-pink: #FF598B;
    --accent-orange: #FF8B59;
    --accent-yellow: #FFCD59;
    --accent-lime: #E1FF59;
    --accent-green: #59FF91;
    --accent-cyan: #59FFF9;
    --accent-navy: #6A59FF;

    --feedback-color: #FF5959;

    /* Input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* Shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* Text */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;


    /* Logo */
    --font-family-leckerli: "Leckerli One", cursive;
    --text-logo: normal 400 2.5rem/normal var(--font-family-leckerli);

    /* Headings */
    --font-family-baloo: "Baloo 2", sans-serif;
    --heading-md: normal 700 1.75rem/normal var(--font-family-baloo);
    --heading-sm: normal 700 1.125rem/normal var(--font-family-baloo);

    /* Body */
    --font-family-open-sans: "Open Sans", sans-serif;

    /* Body Md */
    --body-md-regular: normal 400 1rem/normal var(--font-family-open-sans);
    --body-md-semibold: normal 600 1rem/normal var(--font-family-open-sans);

    /* Body Sm */
    --body-sm-regular: normal 400 0.875rem/normal var(--font-family-open-sans);
    --body-sm-semibold: normal 600 0.875rem/normal var(--font-family-open-sans);

    /* Body Xs */
    --body-xs-regular: normal 400 0.75rem/normal var(--font-family-open-sans);
    --body-xs-semibold: normal 600 0.75rem/normal var(--font-family-open-sans);

}

body {
    background-color: var(--shape-background);
}


.grid {
    display: grid;
}

.two-columns {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.flex {
    display: flex;
    flex-direction: column;
}