#app {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 28.75rem 1fr;
    height: 100vh;
    gap: 1.25rem;
}

aside {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .75rem;
    background-position: center;
}

.aside-container {
    margin: 2rem;

    header {
        h1 {
            font: var(--text-logo);
            color: var(--accent-pink);
        }

        p {
            font: var(--body-md-regular);
            font-weight: 300;
            color: var(--text-heading);
        }
    }
}

.icon-logo {
    img {
        width: 2.86rem;
        height: 3rem;
        margin-bottom: 1rem;
    }
}

.main-container {
    margin: 5rem 8.125rem;
}

main {
    background-color: var(--shape-body);
    border-radius: 0.75rem;

    header {
        h1 {
            font: var(--heading-md);
            color: var(--text-heading);
            margin-bottom: 2.5rem;
        }
    }
}

fieldset {
    border: none;
}

label {
    margin-bottom: 0.75rem;
}