.about-title {
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    .calendar-icon {
        width: 1.5rem;
        height: 1.5rem;

        fill: var(--input-placeholder);
    }

    legend {
        font: var(--heading-sm);
        color: var(--text-heading);
    }
}

.input-wrapper {
    margin-bottom: 1rem;

    label {
        font: var(--body-sm-regular);
        color: var(--text-body);
    }

    input {
        height: 3rem;
        padding-left: 1rem;
        font: var(--body-md-regular);
        color: var(--text-heading);


        /* padding: 1rem; */
        background-color: var(--input-base);
        border-radius: .5rem;
        border: 1px solid var(--input-stroke);

        &::placeholder {
            color: var(--input-placeholder);
        }

        &:focus {
            outline: none;
            border: 1px solid var(--brand-light);
        }

    }
}

.segmented-control {

    height: 3rem;
    max-height: 3rem;
    column-gap: 0.25rem;
    padding: 0.25rem;

    background-color: var(--input-base);
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);

    label {
        margin: 0;
        font: var(--body-md-regular);
        color: var(--text-body);

        #building-icon,
        #video-icon {
            width: 1rem;
            height: 1rem;
            fill: var(--input-placeholder);
        }
    }
}


.option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    cursor: pointer;

    input {
        display: none;
    }

    &:has(input:checked) {
        background-color: var(--shape-button);
        color: #fff;
        border-radius: 0.25rem;
        font: var(--body-md-semibold);

    }

    &:has(input:checked) svg path {
        fill: var(--brand-light) !important;
    }
}

/* 



input[type="date"] {
    border: 1px solid #333;
    padding: 10px 14px;
    border-radius: 8px;
     color: var(--input-placeholder);
}

/* cor do “placeholder” quando vazio */
/* input[type="date"]:not(:focus):invalid {
     color: var(--input-placeholder);
}

/* Safari e Chrome — campos internos */
/* input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    color: var(--input-placeholder); /* cor placeholder */
}

/* ícone do calendário 
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: .6;
}  */