.about-title {
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    .calendar-icon {
        width: 1.5rem;
        height: 1.5rem;

        fill: var(--input-placeholder);
    }

    legend {
        font: var(--heading-sm);
        color: var(--text-heading);
    }
}

.input-wrapper {
    margin-bottom: 1rem;

    label {
        font: var(--body-sm-regular);
        color: var(--text-body);
    }

    input {
        font: var(--body-md-regular);
        color: var(--text-heading);
        /*Cor do texto digitado */

        padding: 1rem;
        background-color: var(--input-base);
        border-radius: .5rem;
        border: 1px solid var(--input-stroke);

        &::placeholder {
            color: var(--input-placeholder);
        }

        &:focus {
            outline: none;
            border: 1px solid var(--brand-light);
        }

    }
}

.segmented-control {
    padding: 1rem;

    background-color: var(--input-base);
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);

    label {
        margin: 0;
        font: var(--body-md-regular);
        color: var(--text-body);

        #building-icon {
            width: 1rem;
            height: 1rem;
            fill: var(--input-placeholder);
        }
    }
}


.option {

    .svg {
        width: 1rem;
        height: ;
    }

    /* se for seliocionado muda a cor */
    input {
        display: none;
    }



}